<div class="input-append" ng-repeat="value in arg.value track by $index" style="clear: both; display: block;">
    <button ng-click="destroyValue($index)" type="button" class="btn"><i class="icon-trash"></i></button>
    <input class="input-medium"
           type="text"
           ng-model="arg.value[$index]"
           placeholder="{{arg.selectedDataType.valueType}}" />
</div>

<div>
    <button ng-click="initializeValue()" type="button" class="btn"><i class="icon-plus"></i> Add</button>
</div>
