<ul class="unstyled">
    <li ng-repeat="fieldValue in arg.value">
        <div style="white-space: nowrap;">
            <button ng-click="arg.value.splice($index, 1)"><i ng-show="arg.value[$index].field != null" class="icon-trash close-image"></i></button>
			Field: <input ng-model="fieldValue.field" />
			Value: <input class="input-large" type="text" ng-model="fieldValue.value" />
        </div>
    <li>
</ul>

<div>
	<button ng-click="addNewField()" type="button" class="btn"><i class="icon-plus"></i> Add</button>
</div>